<footer class="siteFooter">
  <div class="footerBuffer"></div>
  <div class="footerBackground">

      <img class="footerLogo" src="../../assets/images/Logo/_CompanyLogo.png" alt="CompanyLogo">





  <div class="container text-center">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="socialTitle">Navigation</h3>
        <ul class="footerNav">
          <li class="footerNavItem"><a class="nav-link"  routerLinkActive="active" routerLink="/home">Home</a></li>
          <li class="footerNavItem"><a class="nav-link"  routerLinkActive="active" routerLink="/about">About Us</a></li>
          <li class="footerNavItem"><a class="nav-link"  routerLinkActive="active" routerLink="/contact">On Offer</a></li>
          <li class="footerNavItem"><a class="nav-link"  routerLinkActive="active" routerLink="/gallery">Gallery</a></li>
          <li class="footerNavItem"><a class="nav-link"  routerLinkActive="active" routerLink="/home">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3 class="socialTitle">Contact Us</h3>
        <ul class="footerNav">
          <li class="footerNavItem"><a class="nav-link" href="tel:0104480030"> <i style="margin-right: 3%;" class="fas fa-phone"></i> 010 448 0030</a></li>
          <li class="footerNavItem"><a class="nav-link" href="mailto:admin@cpfa.co.za"> <i style="margin-right: 3%;" class="fas fa-envelope"></i> admin@cpfa.co.za</a></li>
          <li class="footerNavItem"><a class="nav-link" href="https://www.google.com/maps/place/Unit%20M23,95%20Main%20Reef%20Road,Boksburg%20North,1459" target="_blank"> <i style="margin-right: 3%;" class="fas fa-map-location-dot"></i>Unit M23, 95 Main Reef Road, Boksburg North, 1459</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h3 class="socialTitle">Find us on social media</h3>
        <ul class="footerNav">
          <a href="https://www.facebook.com/profile.php?id=100086438566274" target="_blank"><li class="footerIcon"><i class="fa-brands fa-square-facebook"></i></li></a>
          <li class="footerIcon"><i class="fa-brands fa-square-instagram"></i></li>
          <li class="footerIcon"><i class="fa-brands fa-square-twitter"></i></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copy-text ">

    <p>&copy; Copyright 2023 CP Forklift & Automation</p>
</div>

</div>
</footer>

