.container.onOfferWrapper {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}


.container.text-center.productCards {
  margin: 5% 0%;
}


a.btn.btn-primary.viewBtn {
  background-color: #8E3237;
  border-color: #8E3237;
  width: 100%;
}


.card {
  margin: 0 auto;
}
