<div class="intoBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/offerImg/CacheImage.png" alt="Intro Banner">
</div>


<div class="container onOfferWrapper">
  <h3 class="subText">Find The Product Your Looking For</h3>


  <div class="container text-center productCards">
    <div class="row">
      <div class="col-12">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/images/offerImg/cached_1920x0_Wearhousing Equipment.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a (click)="openPdf()" class="btn btn-primary viewBtn">Download Catalog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
