<div class="intoBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/aboutImg/cached_1600x0_(1)cpf abpout us.png" alt="Intro Banner">
</div>

<div class="container aboutWrapper">
  <h3 class="subText">CP Forklift and Automation</h3>
      <div class="card sotryCard">
        <div class="card-body">
            The Company was founded by Chris Pretorius in 2018. <br>
            He has gained a wealth of knowledge of all different makes of material handling equipment during his professional career working for several well known material handling companies in different positions over South Africa. CP Forklift and Automation also have vast experience in warehouse automation, storage and racking systems.
        </div>
      </div>


      <div class="container text-center">
        <div class="row align-items-start">
          <div class="col-lg-12">
            <div class="card sotryCard">
              <div class="card-body">
                CP Forklift and Automation services customers all over South Africa from workshops in Johannesburg and Port Elizabeth with Head Office based in Dunswart, Johannesburg and is currently a level 4 B-BBEE contributor. Striving for customer satisfaction, CP Forklift and Automation employs a team of qualified technicians and dedicated office staff to assure the customer's needs are met without compromise.
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card sotryCard">
              <div class="card-body">
                 <ul class="fistList">
                  <li class="firstListLi">Sales, Services, Maintenance and Refurbishment of all makes of Forklifts.</li>
                  <li class="firstListLi">Sales, Services, Maintenance and Installation  of Automated  Warehouse Storage/Racking Systems.</li>
                  <li class="firstListLi">Sales of Parts for all makes of Forklifts.</li>
                  <li class="firstListLi">Service and Maintenance of Vehicles, Trucks and Tractors.</li>
                  <li class="firstListLi">Authorised Distributor and Installer of FMS Technology.</li>
                 </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>


      <div class="row justify-content-center serviceCard" data-aos="fade-right" data-aos-duration="3000"  >
        <div class="col-xs-12 col-md-6">
          <img class="serviceImg" src="../../assets/images/homeImg/cached_1920x0_new forklifts.png"  alt="...">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="serviceContent">
            <h1 class="serviceTitle">New Forklifts</h1>
              <ul class="secondList">
                  <li class="secondListLi">Diesel I Petrol I LPG.</li>
                  <li class="secondListLi">Battery Powered Forklift.</li>
                  <li class="secondListLi">Reach Trucks.</li>
                  <li class="secondListLi">Rough Terrain Trucks.</li>
                  <li class="secondListLi">Tow Tractors.</li>
                  <li class="secondListLi">Side Loaders.</li>
              </ul>
          </div>
        </div>
      </div>


      <div id="desktop" class="row justify-content-center serviceCard" data-aos="fade-left" data-aos-duration="3000"  >
        <div class="col-xs-12 col-md-6">

              <div class="serviceContentOdd">
                <h1 class="serviceTitle">Warehouse Equipment</h1>
                <ul class="secondList">
                  <li class="secondListLi">Pallet Jacks.</li>
                  <li class="secondListLi">Stackers.</li>
                  <li class="secondListLi">Counter Balance Stackers.</li>
                  <li class="secondListLi">Reach Stackers</li>
              </ul>
              </div>

        </div>
        <div class="col-xs-12 col-md-6">
          <img class="serviceImg" src="../../assets/images/homeImg/cached_1920x0_wearhousing equipment.png"  alt="...">
        </div>
      </div>



      <div id="mobile" class="row justify-content-center serviceCard" data-aos="fade-left" data-aos-duration="3000"  >
        <div class="col-xs-12 col-md-6">
          <img class="serviceImg" src="../../assets/images/homeImg/cached_1920x0_wearhousing equipment.png"  alt="...">
        </div>
        <div class="col-xs-12 col-md-6">

              <div class="serviceContentOdd">
                <h1 class="serviceTitle">Warehouse Equipment</h1>
                <ul class="secondList">
                  <li class="secondListLi">Pallet Jacks.</li>
                  <li class="secondListLi">Stackers.</li>
                  <li class="secondListLi">Counter Balance Stackers.</li>
                  <li class="secondListLi">Reach Stackers</li>
              </ul>
              </div>

        </div>
      </div>


      <div class="row justify-content-center serviceCard" data-aos="fade-right" data-aos-duration="3000"  >
        <div class="col-xs-12 col-md-6">
          <img class="serviceImg" src="../../assets/images/homeImg/cached_1920x0_refurbishe.png"  alt="...">
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="serviceContent">
            <h1 class="serviceTitle">Forklift Management Systems</h1>
            <ul class="secondList">
              <li class="secondListLi">Weight Indicators.</li>
              <li class="secondListLi">Speed Limiter.</li>
              <li class="secondListLi">Safety Lights.</li>
              <li class="secondListLi">Transmission Protection.</li>
              <li class="secondListLi">Engine Monitor.</li>
              <li class="secondListLi">Driver ID.</li>
              <li class="secondListLi">GPS Monitoring.</li>
          </ul>
          </div>
        </div>
      </div>

      <hr>

      <h3 class="subText">Some of Our Valued Clients</h3>
      <div class="card sotryCard">
        <div class="card-body">

        </div>
      </div>
</div>
