<div class="intoBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/offerImg/CacheImage.png" alt="Intro Banner">
</div>


<div class="container onOfferWrapper">
  <h3 class="subText">Find The Product Your Looking For</h3>


  <div class="container text-center productCards">


    <div class="container text-center">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-4">
                   <img class="refurbImg" src="../../../assets/images/offerImg/refurbishedImg/cached_1920x0_pic4.jpg" alt="">
                  </div>
                  <div class="col-lg-8 descriptCol">
                    <h3 class="subText">Toyota Reach Truck</h3>
                    <p class="discriptText">
                      Toyota 6FBRE 14 Reach Truck <br>
                      1 Ton lifting capacity <br>
                      6,5 m lifting height <br>
                      Battery 100% <br>
                      Includes charger <br>
                      R 195,000 excl VAT
                    </p>
                  </div>
                </div>
              </div>
              <a data-bs-toggle="modal" data-bs-target="#productOne" class="btn btn-primary viewBtn">View Product</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="container text-center">
                <div class="row">
                  <div class="col-lg-4">
                   <img class="refurbImg" src="../../../assets/images/offerImg/refurbishedImg/cached_600x0_(2)pic4.jpg" alt="">
                  </div>
                  <div class="col-lg-8 descriptCol">
                    <h3 class="subText">Toyota Reach Truck</h3>
                    <p class="discriptText">
                      3.5 Ton Hyster Raised Cab Forklift <br>
                      4.2m Mast With Perkins Motor <br>
                      This is a Steal <br>
                    </p>
                  </div>
                </div>
              </div>
              <a data-bs-toggle="modal" data-bs-target="#ProductTwo" class="btn btn-primary viewBtn">View Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>


<!-- Product Modals -->

<div class="modal fade" id="productOne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">TOYOTA REACH TRUCK</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col-sm-12 col-lg-6">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/offerImg/refurbishedImg/ProductOne/cached_600x0_pic1.jpg" class="d-block  productCaroselImg" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/offerImg/refurbishedImg/ProductOne/cached_600x0_pic2.jpg" class="d-block  productCaroselImg" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/offerImg/refurbishedImg/ProductOne/cached_600x0_pic3.jpg" class="d-block  productCaroselImg" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/offerImg/refurbishedImg/ProductOne/cached_600x0_(1)pic4.jpg" class="d-block  productCaroselImg" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <h3 class="subText">PRICE</h3>
                <p class="priceModal">R 195 000.00</p>
              <hr>
              <h3 class="subText">Description</h3>
              <h3 class="subText">TOYOTA REACH TRUCK</h3>
              <ul class="desText">
                <li>Toyota 6FBRE 14 Reach Truck</li>
                <li>1 Ton lifting capacity</li>
                <li>6,5 m lifting height</li>
                <li>Battery 100%</li>
                <li>Includes charger</li>
                <li>R 195,000 excl VAT</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-primary catBtn">Contact Us</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- electric -->

<div class="modal fade" id="ProductTwo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">HYSTER</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col-sm-12 col-lg-6">
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/images/offerImg/refurbishedImg/ProductTwo/cached_600x0_(1)pic3.jpg" class="d-block productCaroselImg" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/images/offerImg/refurbishedImg/ProductTwo/cached_600x0_(2)pic4.jpg" class="d-block productCaroselImg" alt="...">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-lg-6">
              <h3 class="subText">PRICE</h3>
                <p class="priceModal">R 150 000.00</p>
              <hr>
              <h3 class="subText">Description</h3>
              <h3 class="subText">HYSTER</h3>
              <ul class="desText">
                <li>3.5 Ton Hyster Raised Cab Forklift</li>
                <li>4.2m Mast With Perkins Motor</li>
                <li>This is a Steal</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary catBtn">Contact Us</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
