<div class="intoBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/offerImg/CacheImage.png" alt="Intro Banner">
</div>


<div class="container onOfferWrapper">
  <h3 class="subText">Find The Product Your Looking For</h3>


  <div class="container text-center productCards">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/images/offerImg/lpgPetrol/cached_1920x0_20253035L-7SA.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DieselModal" class="btn btn-primary viewBtn">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/images/offerImg/lpgPetrol/cached_1920x0_15L-7M.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a data-bs-toggle="modal" data-bs-target="#ElectricModal" class="btn btn-primary viewBtn">View</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
          <img src="../../../../assets/images/offerImg/lpgPetrol/cached_1920x0_50L-7A.png" class="card-img-top" alt="...">
          <div class="card-body">
            <a  data-bs-toggle="modal" data-bs-target="#lpg"  class="btn btn-primary viewBtn">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Product Modals -->

<div class="modal fade" id="DieselModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">20/25/30/35L-7SA</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col-sm-12 col-md-6">
              <img src="../../../../assets/images/offerImg/lpgPetrol/cached_1920x0_20253035L-7SA.png" class="card-img-top" alt="...">
            </div>
            <div class="col-sm-12 col-md-6">
              <h3 class="subText">Description</h3>
              <h3 class="subText">20/25/30/35D-7SA</h3>
              <ul class="desText">
                <li>Spacious operating room</li>
                <li>Operator Presence Sensing System (OPSS) (OPT)</li>
                <li>Advanced monitor</li>
                <li>Load weight indicator (OPT)</li>
                <li>Front & Rear LED Lamp</li>
              </ul>
              <h3 class="subText">Safety Spec</h3>
              <ul class="desText">
                <li>Load weight indication</li>
                <li>Tilt Lock (Standard)</li>
                <li>Operator Presence Sensing System (OPSS)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="specDiv">
        <h3 class="subText">Specifications</h3>
        <table class="specTable">
          <tr class="tableHeader">
            <th  class="tableHeaderTH">Model</th>
            <th  class="tableHeaderTH">Engine Model</th>
            <th  class="tableHeaderTH">Engine Power kW/rpm</th>
            <th  class="tableHeaderTH">Load Capacity KG</th>
            <th  class="tableHeaderTH">Load Center mm</th>
            <th  class="tableHeaderTH">Load Height mm</th>
            <th  class="tableHeaderTH">Turning Radius</th>
            <th  class="tableHeaderTH">Travel Speed (unloaded) Km/h</th>
          </tr>
          <tr class="tableEven">
            <th>20L-7SA</th>
            <th>NISSAN/K25</th>
            <th>37.4 / 2300</th>
            <th>2000</th>
            <th>500</th>
            <th>3000</th>
            <th>2330</th>
            <th>20</th>
          </tr>
          <tr class="tableOdd">
            <th>25L-7SA</th>
            <th>NISSAN/K25</th>
            <th>37.4 / 2300</th>
            <th>2500</th>
            <th>500</th>
            <th>3000</th>
            <th>2330</th>
            <th>20</th>
          </tr>
          <tr class="tableEven">
            <th>30L-7SA</th>
            <th>NISSAN/K25</th>
            <th>37.4 / 2300</th>
            <th>3000</th>
            <th>500</th>
            <th>3000</th>
            <th>2450</th>
            <th>19</th>
          </tr>
          <tr class="tableOdd">
            <th>35L-7SA</th>
            <th>NISSAN/K25</th>
            <th>37.4 / 2300</th>
            <th>3500</th>
            <th>500</th>
            <th>3000</th>
            <th>2510</th>
            <th>18</th>
          </tr>
        </table>
      </div>
      </div>
      <div class="modal-footer">
        <button (click)="openPdf()" type="button" class="btn btn-primary catBtn">Download Catalog</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<!-- 7M -->

<div class="modal fade" id="ElectricModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">15L-7M</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col-sm-12 col-md-6">
              <img src="../../../../assets/images/offerImg/lpgPetrol/cached_1920x0_15L-7M.png" class="card-img-top" alt="...">
            </div>
            <div class="col-sm-12 col-md-6">
              <h3 class="subText">Description</h3>
              <h3 class="subText">15L-7M</h3>
              <ul class="desText">
                <li>Fast and Stable Performance</li>
                <li>High power, low noise</li>
                <li>Grammer seat (OPT)</li>
                <li>An accessible fuse box for easy inspection</li>
                <li>Highly durable split type drive axle</li>
                <li>Safety headlights and rear lamp</li>
              </ul>
              <h3 class="subText">Safety Spec</h3>
              <ul class="desText">
                <li>DUO sensitive ELR(Emergency Locking Retractive) Seat belt</li>
                <li>Seat belt interlock</li>
                <li>TS mast</li>
                <li>Tilt Lock (Standard)</li>
                <li>Operator Presence Sensing System (OPSS)</li>
                <li>Low Leak Valve at Lift Down (Standard)</li>
                <li>Speed limit setting</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="specDiv">
        <h3 class="subText">Specifications</h3>
        <table class="specTable">
          <tr class="tableHeader">
            <th  class="tableHeaderTH">Model</th>
            <th  class="tableHeaderTH">Engine Model</th>
            <th  class="tableHeaderTH">Engine Power kW/rpm</th>
            <th  class="tableHeaderTH">Load Capacity KG</th>
            <th  class="tableHeaderTH">Load Center mm</th>
            <th  class="tableHeaderTH">Load Height mm</th>
            <th  class="tableHeaderTH">Turning Radius</th>
            <th  class="tableHeaderTH">Travel Speed (unloaded) Km/h</th>
          </tr>
          <tr class="tableEven">
            <th>15L-7M</th>
            <th>HMC/L4KB</th>
            <th>50 / 2450</th>
            <th>1500</th>
            <th>500</th>
            <th>3325</th>
            <th>2000</th>
            <th>20.1</th>
          </tr>
          <tr class="tableOdd">
            <th>18L-7M</th>
            <th>HMC/L4KB</th>
            <th>50 / 2450</th>
            <th>1750</th>
            <th>500</th>
            <th>3325</th>
            <th>2027</th>
            <th>20.1</th>
          </tr>
          <tr class="tableEven">
            <th>20L-7M</th>
            <th>HMC/L4KB</th>
            <th>50 / 2450</th>
            <th>200</th>
            <th>500</th>
            <th>3330</th>
            <th>2063</th>
            <th>20.1</th>
          </tr>
        </table>
      </div>
      </div>
      <div class="modal-footer">
        <button (click)="openPdfElectric()" type="button" class="btn btn-primary catBtn">Download Catalog</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- 7A -->

<div class="modal fade" id="lpg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">35/40/45/50L-7A</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container text-center">
          <div class="row align-items-start">
            <div class="col-sm-12 col-md-6">
              <img src="../../../../assets/images/offerImg/lpgPetrol/cached_1920x0_50L-7A.png" class="card-img-top" alt="...">
            </div>
            <div class="col-sm-12 col-md-6">
              <h3 class="subText">Description</h3>
              <h3 class="subText">35/40/45/50L-7A</h3>
              <ul class="desText">
                <li>Powerful GM 4.3L V6 engine</li>
                <li>Fast and Stable Performance</li>
                <li>Operator Presence Sensing System (OPSS)</li>
                <li>Grammer Seat (OPT)</li>
                <li>An ideal arrangement of component parts</li>
              </ul>
              <h3 class="subText">Safety Spec</h3>
              <ul class="desText">
                <li>DUO sensitive ELR(Emergency Locking Retractive) Seat belt</li>
                <li>Seat belt interlock</li>
                <li>TS mast</li>
                <li>Tilt Lock (Standard)</li>
                <li>Operator Presence Sensing System (OPSS)</li>
                <li>Low Leak Valve at Lift Down (Standard)</li>
                <li>Speed limit setting</li>
                <li>Mast Accumulator for load cushioning</li>
                <li>Blue Spot</li>
                <li>Prevention of Sudden Drop when Rupture of Piping (Standard)</li>
                <li>During Engine (Motor) Stop, Steering (HPS: Hydraulic Power Steering) (Standard)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="specDiv">
        <h3 class="subText">Specifications</h3>
        <table class="specTable">
          <tr class="tableHeader">
            <th  class="tableHeaderTH">Model</th>
            <th  class="tableHeaderTH">Engine Model</th>
            <th  class="tableHeaderTH">Engine Power kW/rpm</th>
            <th  class="tableHeaderTH">Load Capacity KG</th>
            <th  class="tableHeaderTH">Load Center mm</th>
            <th  class="tableHeaderTH">Load Height mm</th>
            <th  class="tableHeaderTH">Turning Radius</th>
            <th  class="tableHeaderTH">Travel Speed (unloaded) Km/h</th>
          </tr>
          <tr class="tableEven">
            <th>35L-7A</th>
            <th>GM/4.3L</th>
            <th>70 /2300</th>
            <th>3500</th>
            <th>600</th>
            <th>3020</th>
            <th>2806</th>
            <th>23.7</th>
          </tr>
          <tr class="tableOdd">
            <th>40L-7A</th>
            <th>GM/4.3L</th>
            <th>70 / 2300</th>
            <th>4000</th>
            <th>600</th>
            <th>3020</th>
            <th>2859</th>
            <th>22.9</th>
          </tr>
          <tr class="tableEven">
            <th>45L-7A</th>
            <th>GM/4.3L</th>
            <th>70 / 2300</th>
            <th>4500</th>
            <th>600</th>
            <th>3020</th>
            <th>2905</th>
            <th>22.9</th>
          </tr>
          <tr class="tableOdd">
            <th>50L-7A</th>
            <th>GM/4.3L</th>
            <th>70 / 2300</th>
            <th>5000</th>
            <th>600</th>
            <th>2930</th>
            <th>2947</th>
            <th>22.8</th>
          </tr>
        </table>
      </div>
      </div>
      <div class="modal-footer">
        <button (click)="openPdfA()" type="button" class="btn btn-primary catBtn">Download Catalog</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


