<div class="intoBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/offerImg/CacheImage.png" alt="Intro Banner">
</div>


<div class="container onOfferWrapper">
  <h3 class="subText">Forklift Management Systems</h3>
  <h5><strong>Weight Indicators. - Speed Limiter. - Safety Lights. - Transmission Protection. -  Engine Monitor.-  Driver ID. -  GPS Monitoring.</strong></h5>

  <div class="container text-center productCards">
    <img class="fmsImg" src="../../../assets/images/offerImg/cached_1920x0_FMS MID2.png" alt="">
  </div>
</div>
