.container.onOfferWrapper {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card {
  margin: 0 auto;
  margin-bottom: 5%;
}


.container.text-center.productCards {
  margin: 5% 0%;
}


a.btn.btn-primary.viewBtn {
  background-color: #8E3237;
  border-color: #8E3237;
  width: 100%;
}


ul.desText {
  text-align: left;
  margin-top: 10%;
}


.specDiv {
  text-align: center;
}


tr.tableHeader {
  background-color: #8E3237;
  color: #fff;
}

tr.tableEven {
  background-color: darkgray;
}


table.specTable {
  margin-top: 5%;
}

button.btn.btn-primary.catBtn {
  background-color: #8E3237;
  border-color: #8E3237;
}

th.tableHeaderTH {
  padding: 8px;
}


.card {
  margin: 0 auto;
  margin-bottom: 5%;
}
