<div class="intoBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/homeImg/cached_1920x0_Home top7.png" alt="Intro Banner">
</div>


<div class="welcomeWrapper">
  <div class="container">
      <h3 class="subText">WELCOME TO</h3>
      <h1 class="mainText">CP FORKLIFT & AUTOMATION (pty) Ltd</h1>


      <div class="container text-center offerContainer" >
        <div class="row">
          <div class="col-sm-12 col-md-4  col-lg-4">
            <div class="card offerCards" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
              <img src="../../assets/images/homeImg/cached_1920x0_home 1.png" class="card-img-top" alt="offer Img">
              <div class="card-body">
                <a  routerLink="/offer" class="btn btn-primary offerBtn">See Offer</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4  col-lg-4">
            <div class="card offerCards" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
              <img src="../../assets/images/homeImg/cached_1920x0_home 12.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a  routerLink="/offer" class="btn btn-primary offerBtn">See Offer</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4   col-lg-4">
            <div class="card offerCards" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
              <img src="../../assets/images/homeImg/cached_1920x0_home 123.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a  routerLink="/offer" class="btn btn-primary offerBtn">See Offer</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <h3 class="subText" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">OUR STORY</h3>
      <div class="card sotryCard" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
        <div class="card-body">
          CP Forklift & Automation was born in 2018. We are an established Industrial company based in South Africa, with over 20 years combined experience in the industry.  We specialize in Forklifts & Automated Systems.
        </div>
      </div>
  </div>
</div>


<div class="midBanner">
  <img style="width: 100%;" class="homeBanner" src="../../assets/images/homeImg/cached_1920x0_Mid Design3.png" alt="top-center">
</div>


<div class="welcomeWrapper">
  <div class="container">
      <h3 class="subText" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">Follow The Links Below</h3>



      <div class="container text-center offerContainer" >
        <div class="row">
          <div class="col-sm-12 col-md-4  col-lg-4">
            <div class="card offerCards" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
              <img src="../../assets/images/homeImg/cached_1920x0_new forklifts.png" class="card-img-top" alt="offer Img">
              <div class="card-body">
                <a href="#" class="btn btn-primary offerBtn">VIEW</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4   col-lg-4">
            <div class="card offerCards" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
              <img src="../../assets/images/homeImg/cached_1920x0_wearhousing equipment.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="btn btn-primary offerBtn">VIEW</a>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4   col-lg-4">
            <div class="card offerCards" data-aos="fade-up" data-aos-duration="3000"  data-aos-anchor-placement="top-center">
              <img src="../../assets/images/homeImg/cached_1920x0_refurbishe.png" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="btn btn-primary offerBtn">VIEW</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>


  </div>
</div>
